.container {
  min-width:50%;
  max-width:70%;
  display:flex;
  flex-wrap:wrap;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.reset {
  display:none;
}

.tile {
  min-width:23%;
  padding:5%;
}

.right {
  border-right: 1px solid black;
}

.bottom {
  border-bottom: 1px solid black;
}

body {
  text-align: center;
}